
    <div class="container-fluid">
    <div class="card-group">
        <div class="card card-reg">
                    <img class="imag" src="../assets/img/images.jpg">
        <div class="card-img-overlay">
          <h1 class="h-wel">Welcome To ... </h1>
          <p class="paragraph">This page will provide you with a reservation to take the appropriate vaccination for you in the place near you.
            <br>
            Please fill in the information correctly and you will receive a message shortly with the date of vaccination .</p>
             <p class="card-text">From here, you can view the centers where the vaccinations are located ,
              and then book an appointment to take the vaccination you want</p><br>
              <div class="card-body">
                <a routerLink="/home" class="btn btn-find">Find The Vaccines</a>
                <a routerLink="/book" class="btn btn-book">Book Appointment</a>
              </div>
        </div>
         
              
        </div>
        <div class="card">
            <img src="../assets/img/map.png" class="pic-map">

          </div>
      </div>
        
        </div>
        
