<div>
  <div class="background">
    <br> <br>
    <div class="title-faq">
      <h2>Frequently Asked Questions</h2>
      <div class="accordion card-faqs" id="accordionfaq">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Are COVID-19 vaccines safe?
                <span class="accIcon">
                  
                </span>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show collapse-answer" aria-labelledby="headingOne" data-parent="#accordionfaq">
            <div class="card-body collapse-body">
              The state has chosen these vaccines on accurate scientific bases and has been keen to provide vaccines that meet all safety and securityrequirements.
              The Food and Drug Administration must obtain and evaluate all data , and then authorize the vaccine for emergency leave for use. 
            </div>
          </div>
        </div><br> 
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Which COVID-19 vaccine is best for me?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse collapse-answer" aria-labelledby="headingTwo" data-parent="#accordionfaq">
            <div class="card-body collapse-body">
              All who-approved vaccines have been shown to be highly effective at protecting you against server illness from COVID-19.The best vaccine to get is the one most readily available to you!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Is the vaccine enough to protect me from Corona?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse collapse-question" aria-labelledby="headingThree" data-parent="#accordionfaq">
            <div class="card-body collapse-body">
              Experts say , according to studies and based on what they know about other vaccines, and according to clinical trials receiving the corona virus vaccine also helps protect you from severe illness or severe complications if you become infected with it.Receiving the corona virus vaccine may protect the people around you, especially those who are at risk of developing serious complications from the corona virus.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingfour">
            <h5 class="mb-0">
              <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                What are the target groups for taking virus vaccine?
              </button>
            </h5>
          </div>
          <div id="collapsefour" class="collapse collapse-answer" aria-labelledby="headingfour" data-parent="#accordionfaq">
            <div class="card-body collapse-body">
               Priority will be given to persons most at risk of infection free of charge and thay are:
               Health cadres working in the health sector.
               Persons aged 60 years and over.
               The groups most at risk of developing complications from the corona virus disease-such as patients who suffer from chronic diseases.
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header" id="headingfive">
              <h5 class="mb-0">
                <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                  How long does the home quarantine last for?                </button>
              </h5>
            </div>
          <div id="collapsefive" class="collapse collapse-question" aria-labelledby="headingfive" data-parent="#accordionfaq">
            <div class="card-body collapse-body">
              The duration of the home quarantine is an estimated 14 days, which may extend to 24 days. This is the incubation period of the virus before the onset of symptoms and when the person with it is contagious, since the virus may be contagious before any symptoms appear.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingsix">
            <h5 class="mb-0">
              <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
              What is the risk of developing COVID-19 on board?
            </button>
            </h5>
          </div>
        <div id="collapsesix" class="collapse collapse-answer" aria-labelledby="headingsix" data-parent="#accordionfaq">
          <div class="card-body collapse-body">
            Most viruses and other germs do not spread easily on airplanes. This is because of the air circulation mechanism and its filtering mechanism on planes and despite the reduced risk of developing COVID-19, travelers should try to avoid contact with patients, in addition to constantly washing hands with soap and water for at least 20 seconds, or using an alcoholic hand sanitizer.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingseven">
          <h5 class="mb-0">
            <button class="btn btn-link collapse-question" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
              Should travelling be cancelled due to the spread of COVID-19?            </button>
          </h5>
        </div>
      <div id="collapseseven" class="collapse collapse-answer" aria-labelledby="headingseven" data-parent="#accordionfaq">
        <div class="card-body collapse-body">
          Based on the assessment of potential health risks involved in traveling to some region, most countries have canceled travel generally except in cases of necessity, whether countries are infected or not. 
          In order to avoid the high prevalence of the virus, therefore travel to countries classified as infected with the emerging coronavirus should be avoided, except in cases of extreme necessity.        </div>
      </div>
    </div>
    
      </div>
    </div>
    </div>
</div><br><br>
<div class="information m-auto">
  If you need more information,
  <button class="btn btn-click">
    <a href="https://corona.moh.gov.jo/en/page/1031/FAQs" class="link">Click here</a>.
  </button>
</div>
    

