<div class="container">
    <div class="row">
      <div class="col-md-6">
       <!-- <div class="card card-welcome">
          <div class="card card-pic">

          </div>
          <h1 class="h-wel">Welcome To ... </h1>
          <p class="paragraph">This page will provide you with a reservation to take the appropriate vaccination for you in the place near you.
            <br>
            Please fill in the information correctly and you will receive a message shortly with the date of vaccination .</p>
        </div>
      </div>--> 
        <div class="col-md-12">
            <div class="card card-login">
              <div class="card-body">
             <h1 class="title-login">Find COVID-19 Vaccines Near You</h1>
            <form class="form-login ml-4">
                <div class="form-row m-4">
                  <div class="form-group col-md-6">
                    <label for="inputfname" class="name-lable">First name</label>
                    <input type="name" class="form-control inp-text" id="inputfname" placeholder="first name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputlname" class="name-lable">Last name</label>

                    <input type="name" class="form-control inp-text" id="inputlname" placeholder="last name" required>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                  <label for="inputID"class="name-lable">ID Number</label>
                  <input type="text" class="form-control inp-text" id="inputid" placeholder="ID number" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAge"class="name-lable">Age</label>
                  <input type="text" class="form-control inp-text" id="inputAge" placeholder="age">
                </div>
                </div>
                  <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputcity" class="name-lable">City</label>
                    <input class="form-control inp-text" type="text" id="inputcity" placeholder="city" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputphone" class="name-lable">Phone Number</label>
                    <input id="inputphone" type="tel" class="form-control inp-text" placeholder="07xxxxxxxx">
                </div>
                
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputvaccine" class="name-lable">Name Vaccine</label>
                    <select id="inputvaccine" class="form-control inp-text" required>
                        <option selected>Choose Vaccine</option>
                        <option>Pfizer</option>
                        <option>Astrazineca</option>
                        <option>Senopharm</option>
                        <option>Jonson</option>
                      </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputdose">Dose</label>
                    <select id="inputdose" class="form-control inp-text" required>
                      <option selected>Choose any one</option>
                      <option>1st Dose</option>
                      <option>2nd Dose</option>
                    </select>
                  </div>
                </div>
                <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                        <label class="form-check-label" for="autoSizingCheck">
                          Remember me
                        </label>
                      </div>
               <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            </div>
</div>

            
               <!--Google map-->
<!--<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53808.14862055645!2d35.88242932179928!3d32.55259734418861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c76916dac0453%3A0x5416e113d81f7d82!2z2KXYsdio2K8!5e0!3m2!1sar!2sjo!4v1630781166737!5m2!1sar!2sjo"
   width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
     </div>
        Google Maps--> 
</div>
</div>